@import "compass/css3";
@import "vendor/normalize";

* { 
    @include box-sizing(border-box);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #222;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    text-decoration: none;

    &:hover {
        color: #598c7d;
    }
}

#ribbon {
    background-image: url(/assets/img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 10px;
}

#wrap {
    margin: 0 auto;
    width: 885px;

    // Sticky footer trick, see http://css-tricks.com/snippets/css/sticky-footer/
    min-height: 100%;
    margin-bottom: -262px;

    &:after {
      content: "";
      display: block;
      height: 262px;
    }
}

header {
    margin: 40px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    font-family: 'American Typewriter', Courier, serif;
    font-size: 14px;
    margin: 0;
    color: #aaaaaa;
    font-weight: normal;
}

.post {
    margin-bottom: 40px;
}

.post-header {
    padding-left: 35px;
    min-height: 42px;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    margin-bottom: 15px;
}

.post-header--dw {
    background-image: url(/assets/img/watch-1.png);
}

.post-header--ar {
    background-image: url(/assets/img/watch-2.png);
}

.post-header-title {
    margin-bottom: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-header-date {
    font-family: 'Chaparral Pro', 'American Typewriter', Courier, serif;
    font-style: italic;
    font-weight: normal;
    color: #444;
    letter-spacing: 1px;
}

.post-image {
    margin-bottom: 20px;

    // A caption following an image
    img + .post-image-caption { margin-top: 5px; }
}

.post-image-caption {
    vertical-align: middle;
    font-family: 'Chaparral Pro', 'American Typewriter', Courier, serif;
    font-style: italic;
    color: #777;
    background: #f6f6f6;
    padding: 15px 20px 13px;
    text-align: center;

    // Paragraphs within the caption should have no margin
    p { margin: 0; }

    // Paragraphs following other paragraphs in the caption should have a top margin
    p + p { margin-top: 15px; }
}

.post-footer {
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;

    // Both children are floated, so use a clearfix on the parent
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

.post-footer-tags {
    // In order to play nicely with the location element floated to the right of the footer
    float: left;
}

.post-footer-tag {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 5px;
    letter-spacing: 1px;
}

.post-footer-location {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #777;
    float: right;
    min-height: 21px;
    line-height: 21px;
    padding-right: 51px;
    letter-spacing: 1px;
    background: url(/assets/img/icon-location.png) no-repeat right center transparent;

    &:hover {
        color: #598c7d;
    }
}

footer {
    background-image: url(/assets/img/banner.jpg);
    background-size: cover;
    height: 262px;
    width: 100%;
    display: table;
}

.about-wrap {
    display: table-cell;
    vertical-align: middle;
}

.about {
    width: 450px;
    margin: 0 auto;
}

.about-avatar {
    @include border-radius(100%);
    overflow: hidden;
    float: left;
    border: 3px solid #fff;
}

.about-body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: right;
    width: 295px;
    color: #eee;
}

.about-body-title {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.5);
    margin: 0 0 10px;
    letter-spacing: 1px;
}

.about-body-description {
    font-size: 12px;
    letter-spacing: 1px;
}

.about-body-link {
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
    display: inline-block;

    &:hover {
        color: darken(#598c7d, 10%);
    }

    img { 
        margin-right: 5px; 
        display: inline-block;
        vertical-align: middle;
    }
}
